
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}


.logo-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo-container img {
    width: 100px;            
    height: auto;            
}


.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 100px auto;       
}
