<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Device Availability</title>
    
</head>
<body>    <div class="logo-container">
    <img src="{{ url_for('static', filename='logo.jfif') }}" alt="Logo">
</div>

<div class="container">
 
    <h2>Check Device Availability</h2>
    <form action="/signin_device" method="POST">
        <label for="device_id">Select Device:</label><br>
        <select name="device_id" id="device_id" required>
            {% for device in devices %}
                <option value="{{ device['id'] }}">{{ device['device_name'] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Check Availability</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</div>
</body>
</html>
